<div class="flex h-screen bg-dyelred">
    <div class="bg-dyelred p-5 text-center m-auto w-full">
        <div>
            <img src="/img/logo.svg" alt="Do you even log?" class="mx-auto lg:w-3/6 md:w-full">

            <p class="text-dyelred3">Track your workouts and diet</p>