<%- include("partials/header.ejs") %>

<h1>Add exercise <%= user.userName %></h1>
<p><a href="/dashboard">Back to dashboard</a></p>
<p><a href="/workouts">Back to workouts list</a></p>

<form action="/workouts/add-exercise" method="POST">
    <label for="date">Date</label>
    <br><input type="date" name="date" id="date">

    <br><label for="exercise">Exercise</label>
    <br><input type="text" name="exercise" id="exercise">

    <br><label for="description">Description</label>
    <br><textarea name="description" id="description" cols="30" rows="10"></textarea>
    
    <br><input type="submit" value="Add">
</form>

<%- include("partials/footer.ejs") %> 