<%- include("partials/header.ejs") %> 

<div class="flex h-screen bg-dyelred">
    <div class="bg-dyelred p-5 text-center m-auto w-full">
        <main class="mt-5">
            <section class="w-full mx-auto">
                <h2 class="text-6xl text-white font-medium">Page not found</h2>
                <p class="p-4 text-white">The page you're looking for does not exist. Please go back and try again.</p>
            </section>
        </main>
    </div>
</div>

<%- include("partials/footer.ejs") %>