<%- include("./partials/header.ejs") %>

<section class="bg-dyelred">
    <div class="container mx-auto">
        <nav class="p-2 flex justify-center">
            <a href="/dashboard"><img src="/img/logo.svg" alt="Do you even log? logo" class="h-10"></a>
        </nav>
    </div>
</section>

<section class="flex justify-center items-center">
    <div class="container p-2 text-center max-w-screen-xl">
        <h2 class="text-6xl font-medium">Page not found</h2>
        <p class="p-4">The page you're looking for does not exist. Please go back and try again.</p>
    </div>
</section>

<%- include("./partials/footer.ejs") %>
