<%- include("partials/header.ejs") %> 

<div class="bg-dyelred w-1/2 p-2">
    <img src="/img/logo.svg" alt="logo">
</div>

<a href="/login">Login</a>
<a href="/signup">Sign Up</a>

<%- include("partials/footer.ejs") %>