<%- include("partials/header.ejs") %> 

<%- include("partials/intro_top.ejs") %>

<div class="mt-5 flex justify-center gap-2">
    <a href="/signup" class="rounded-md border border-transparent bg-dyelred2 px-7 py-3 font-medium text-white hover:bg-red-700">Sign Up</a>
    <a href="/login" class="rounded-md border border-transparent bg-dyelred2 px-7 py-3 font-medium text-white hover:bg-red-700">Log In</a>
</div>

<%- include("partials/intro_bottom.ejs") %>

<%- include("partials/footer.ejs") %>