<%- include("partials/header.ejs") %>

<h1>WORKOUT LIST FOR <%= user.userName %></h1>

<p><a href="/workouts/add">Add exercise</a></p>

<div>
    <%= exercise['2022-09-08'] %>
</div>

<%- include("partials/footer.ejs") %>